.env.s3
.env.publish
.env.github
.env.nautilus
.env.data
.envrc
.pytest_cache
src
dist
.pypirc
.vscode/settings.json
.ruff_cache/
.github/

geospatial_analysis_environment.egg-info/*
spatialoperations.egg-info/*
config.mk

**/__pycache__/

config.mk
